@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: rgb(40, 44, 51);
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

.name {
    padding: 100px 0;
    color: white;
    text-align: center;
}

.nameName {
    color: rgb(255, 104, 104);
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.nameIcon {
    border-radius: 15px;
}

.nameStatus {
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.badges {
    color: #fff !important;
    display: flex;
    justify-content: center;
}

.badge {
    color: #fff ;
    margin: 0 10px;
    font-size: 25px;
    transition: .5s;
    cursor: pointer;
}

.badge:hover {
    color: rgb(0,136,204);
}


.tooltip {
    color: #fff ;
    position: relative;
    display: inline-block;

  }

  .tooltiptext {
      font-size: 15px;
  }
  

  .tooltip .tooltiptext {
    opacity: 0;

    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    transition: .2s;

    position: absolute;
    z-index: 1;
  }

  
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
  }

  .nameStatus a {
      text-decoration: none;
      color: white;
      border-bottom: 1px solid rgb(255, 104, 104);
      transition: .3s;
  }

  .nameStatus a:hover {
      color: rgb(255, 104, 104);
  }

  hr {
      width: 20%;
      border: 1px solid rgb(164, 148, 255);
  }
